*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: whitesmoke;
}
.heading-box {
    font-size: 1.1rem;
    background-color: white;
    width: 100%;
    height: 70px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    

}
.logo{
    margin-left: 30px;
}
.searchber{
    background-color: rgb(223, 237, 245);
    width:560px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 0%;
    padding-left: 10px;
    border-radius: 5px;

}
.searchber input{
    width: 550px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.1rem;

}
.searchber i{
    color: grey;
    padding-right:10px;
    font-size:22px;
    float: left;
}
.three{
    margin-right: 60px;
}